$maincolor: #dc6beb;
$maincolor2: #891aa58f;
$maincolorhover: #b967b7;
$maincolorhover2: #470f418e;
$firstcolor: #fff;
$secondcolor: #2c2c2c;
$lightcolor: #ddd; 

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
	scroll-padding-top: 70px;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.h1, h1 {
    font-size: calc(4rem + 1.5vw);
	text-transform: uppercase;
}

h2, h3 {
	font-size: 4rem;
	text-transform: uppercase;
}

p {
	margin: 0;
	font-size: 1.8rem;
}

a {
	text-decoration: none;
	color: #2c2c2c;
}

.btn-close {
	--bs-btn-close-opacity: 1;
	--bs-btn-close-hover-opacity: 1;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #fff;
	background-color: $maincolorhover;
    border-color: $maincolorhover;
}

.text-small-title {
	font-size: 2.5rem;
}

.list-group-item + .list-group-item {
	border-top-width: 1px;
	border-radius: 8px;
}