// $maincolor: #e480e0;
// $maincolor: #ddbc00;
// $maincolor: #1ecc58;
$maincolor: #dc6beb;
$maincolor2: rgba(137, 26, 165, 0.562);
$maincolorhover: #b967b7;
$firstcolor: #fff;
$secondcolor: #333;
$secondcolor: #2c2c2c;
$lightcolor: #ddd; 
// #8626D9
// #D92679


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: "Montserrat", sans-serif;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.h1, h1 {
    font-size: calc(4rem + 1.5vw);
}

h2 {
	font-size: 4rem;
}

p {
	margin: 0;
	font-size: 1.8rem;
}

.main-color {
	color: $maincolor;
}

.accordion-flex {
	display: flex;
	align-items: start;
	flex-direction: column;
}

.text-small-title {
	font-size: 2.5rem;
}