@media (min-width: 992px) {
	.nav-link {
		&:first-child {
			margin-top: 0;
		}
	}

	.job {
		& i {
			display: block;
		}
	}

	.list-group {
		&-item {
			&--el {
				display: flex;
			}
		}
	
		&-btn {
			display: none;
		}
		
		&-next {
			display: none;
		}
	}

}