@use './_components' as *;

nav {
	background-color: #ddd;
	box-shadow: 0 0 10px #333;
}

.navbar-brand {
	font-size: 2rem;
	background-color: $secondcolor;
	color: $firstcolor;
	font-weight: bold;
	transition: color 0.3s;

	&:hover,
	&:focus {
		color: $maincolorhover;
		outline: none;
	}
}

.nav-link {
	font-size: 2rem;
	margin: 0 0.5rem;
	padding: 1rem;
	color: $secondcolor;
	// font-weight: bold;
	transition: background-color 0.3s, color 0.3s;

	&:first-child {
		margin-top: 2rem;
	}

	&:hover,
	&:focus {
		background-color: #33333377;
		background-color: $maincolorhover2;
		color: $firstcolor;
	}

	&:focus-visible {
		outline: 1px solid $maincolor2;
		box-shadow: none;
	}
}

.navbar-nav .nav-link.active {
	background-color: $maincolorhover;
	color: #fff;

	&:hover,
	&:focus {
		background-color: $maincolorhover2;
	}
}

.navbar-toggler {
	font-size: 2rem;
	border: 1px solid $secondcolor;
	transition: background-color 0.3s, border 0.3s;
	& span {
		color: $secondcolor;
		letter-spacing: 1.2px;
		transition: color 0.3s;
	}

	&:hover,
	&:focus {
		background-color: $maincolorhover;
		border: 1px solid $maincolorhover;
		box-shadow: none;
		& > span {
			color: $firstcolor;
		}
	}
}

// -----------------------------------------

.header {
	padding-top: 7rem;
	background-color: #fff;

	&-box {
		width: 100%;
		background-color: #fff;
		background-color: transparent;

		&-img {
			width: 80%;
			height: 100%;
			// clip-path: polygon(0% 0, 100% 0, 67% 100%, 0 100%);
			clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
			transition: width 0.3s ease-out;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: 45%;
			}

			&-btn {
				display: none;
				top: 4rem;
				left: 20%;
				color: #333;
				background-color: $firstcolor;
				border-radius: 12px;
				transition: background-color 0.3s;
				// cursor: pointer;

				&:hover,
				&:focus {
					outline: none;
					background-color: $maincolorhover;
				}
			}

			&--close {
				width: 20%;
			}
		}

		&-elements {
			width: 20%;
			align-content: center;
			transition: width 0.3s ease-out;
			// cursor: pointer;

			&-text {
				display: none;
				height: 100%;
				padding: 0 1rem;
				color: black;
				cursor: default;

				& h1 {
					margin-top: 3rem;
					padding: 0 1rem;
					font-size: 3.2rem;
					text-align: center;
					text-shadow: 5px 5px 20px rgba(65, 32, 80, 0.8);
				}

				& p {
					margin-top: 2rem;
					padding: 0 1rem;
					font-size: 1.6rem;
					word-break: break-word;
					letter-spacing: 1.2px;
				}

				& .btn {
					margin-top: 2rem;
					width: 100%;
					background-color: $maincolor2;
					color: #fff;
					font-weight: bold;
					font-size: 1.4rem;
					letter-spacing: 2px;
					border-radius: 12px;
					box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);
					transition: background-color 0.3s;

					&:hover,
					&:focus {
						background-color: $maincolorhover;
					}
				}
			}

			& .header-box-elements-text-btn {
				transform: rotate(90deg);
				font-weight: bold;
				letter-spacing: 2px;
				transition: color 0.3s;
				// cursor: pointer;
			}

			&:hover,
			&:focus > .header-box-elements-text-btn {
				color: $maincolorhover2;
			}

			.header-box-elements:focus > .header-box-elements-text-btn,
			.header-box-elements:hover {
				color: black;
			}

			// &:hover, &:focus > .header-box-elements-text-btn ~ .header-box-elements-text h1, p{
			// 	color: #333
			// }

			&--open {
				width: 80%;
				cursor: default;
			}
		}
	}

	.btn-close:hover {
		color: $maincolor;
		text-decoration: none;
		opacity: none;
	}

	// &--hide {
	// 	display: none;
	// }

	&--show {
		display: inline-block;
	}
}
// -----------------------------------------
.job {
	& .job-box-elements {
		& .job-box-element {
			margin: 1rem 2rem;
			padding: 2rem;
			border: 3px solid $maincolor;
			border-radius: 18px;
			box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);

			&-title {
				font-weight: bold;
			}

			&-text {
				font-size: 1.6rem;
			}

			&-data {
				font-size: 1.4rem;
				color: #6b6b6b;
			}
		}
	}

	&-inf {
		background-color: #ddd;
	}
}
// -----------------------------------------

.skills {
	background-color: $secondcolor;
}

.list-group {
	&-item {
		margin: 0.5rem;
		padding: 0.5rem 1.5rem;
		font-size: 1.8rem;
		background-color: $maincolor;
		border-color: $maincolor;
		border-radius: 8px;
		&:first-child {
			border-radius: 8px;
		}

		& i {
			margin-right: 1rem;
		}

		& span {
			margin-left: 2rem;
			font-size: 1.4rem;
		}

		&--el {
			display: none;
		}
	}

	&-btn {
		color: $firstcolor;
		background-color: #333;
		transition: color 0.3s;

		&:hover {
			color: $maincolorhover;
		}
	}

	&-next {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 0;
		opacity: 0;
		transition: height 0.1s, opacity 0.3s;
		z-index: -100;

		&-disply {
			height: auto;
			opacity: 1;
			z-index: 0;
		}
	}
}

// .list-group-item + .list-group-item {
// 	border-top-width: 1px;
// 	border-radius: 8px;
// }

.carousel {
	&-box li {
		background-color: #fff;
		border-color: #ddd;
		font-size: 1.4rem;
	}
	&-item {
		min-height: 450px;
	}
}
// -----------------------------------------
.map-skills {
	background-color: $maincolor2;
	&-box {
		&-btn {
			background-color: $firstcolor;
			border: 1px solid transparent;
			border-radius: 12px;
			box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);
			font-size: 1.8rem;
			text-transform: uppercase;
			letter-spacing: 2p;
			transition: background-color 0.3s, border 0.3s;

			&:hover,
			&:focus {
				background-color: $maincolorhover;
				border: 1px solid $secondcolor;
				outline: none;
			}
		}
	}

	&-timeline {
		display: none;
		max-width: 800px;
		& ul {
			margin: 0 2em;
			list-style: none;
		}

		& li {
			position: relative;
			margin-bottom: 2em;
			padding: 2em;
			width: 100%;
			color: #fff;
			background-color: $secondcolor;
			border: 1px solid $secondcolor;
			border-radius: 8px;
			&::after {
				position: absolute;
				content: '';
				top: calc(50% - 10px);
				width: 20px;
				height: 20px;
				background-color: $firstcolor;
				border-radius: 50%;
				left: -24px;
			}
			&:nth-child(even) {
				align-self: flex-end;
				transform: translateX(0px);
			}
			// &:nth-child(even)::after {
			// 	left: -24px;
			// }
			&:nth-child(odd) {
				transform: translateX(0px);
			}
			&:nth-child(odd)::after {
				right: 100%;
			}
			& p {
				margin: 0;
				word-break: break-word;
			}
			& p i {
				margin: 0 0.5em;
			}
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 28px;
			transform: translateX(-50%);
			display: block;
			width: 2px;
			height: 100%;
			background-color: $secondcolor;
		}
	}
}
// -----------------------------------------
.project {
	&-box {
		&-cards {
			& .card {
				color: #fff;
				background-color: $secondcolor;
				box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.1);
				}

				& .btn {
					font-size: 1.6rem;
					background-color: $maincolor;
					border: none;
					border-radius: 12px;
					color: #333;
					transition: background-color 0.3s;

					&:hover,
					&:focus {
						background-color: $maincolorhover;
						outline: none;
					}

					&:focus-visible {
						box-shadow: none;
					}
				}
			}
		}
	}
}

// ----------------------------------
// seting

// .header-box-img--close {
// 	width: 20%;
// }

// .header-box-elements--open {
// 	width: 80%;
// }

// .header--hide {
// 	display: none;
// }

// .header--show {
// 	display: inline-block;
// }

.display-timeline--show {
	display: flex;
}
// --------------------------------

.hobby {
	background-color: $secondcolor;
	&-box {
		color: $firstcolor;

		&-text {
			&-btn {
				width: 100px;
				height: 100px;
				font-size: 1.4rem;
				letter-spacing: 1.2px;
				border: none;
				border-radius: 50%;
			}
		}
	}
}

// --------------------------------
.footer {
	// color: $firstcolor;
	background-color: $maincolor2;

	&-box {
		&-el {
			& a {
				transition: color 0.3s;
				&:hover,
				&:focus,
				&:focus-visible {
					color: $maincolorhover2;
					color: rgba(255, 255, 255, 0.6);
					outline: none;
				}
			}
			&-contact {
				& a {
					width: fit-content;
					font-size: 1.6rem;
					font-weight: bold;
				}
			}

			&-links {
				border-bottom: 1px solid $secondcolor;
				& a {
					font-size: 4rem;
				}
			}

			&-nav {
				&-title {
					& h4 {
						font-size: 2.5rem;
					}
				}
				&-links {
					& .nav-link {
						margin: 0.5rem 1rem;
						padding: 0;
						font-size: 1.6rem;
						font-weight: 400;

						&:first-child {
							margin: 0.5rem 1rem;
						}

						&:hover,
						&:focus,
						&:focus-visible {
							color: rgba(255, 255, 255, 0.6);
							background-color: transparent;
							outline: none;
						}
					}
				}
			}
		}
	}

	&-copyright p {
		font-size: 1.2rem;
	}
}

// --------------------------------
// cookie
// --------------------------------
.hide {
	display: none;
}

.cookie {
	width: 100%;
	background-color: #fff;
	position: fixed;
	bottom: 0;
}

.cookie-box {
	// position: fixed;
	// bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	background-color: #fff;
	opacity: 0;
	transform: translateY(100%);
	animation: show-cookies 0.5s 0.5s forwards;
}

.cookie-box::before {
	content: '';
	position: absolute;
	top: -280px;
	right: 50px;
	width: 400px;
	height: 400px;
	background-image: url('https://lezebre.lu/images/detailed/26/65626-JDM-Cookie-Monster.png');
	background-size: cover;
}

.cookie-btn, .disclaimer-btn {
	background-color: $firstcolor;
	border: 1px solid transparent;
	border-radius: 12px;
	box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);
	font-size: 1.8rem;
	text-transform: uppercase;
	letter-spacing: 2p;
	transition: background-color 0.3s, border 0.3s;

	&:hover,
	&:focus {
		background-color: $maincolorhover;
		border: 1px solid $secondcolor;
		outline: none;
	}
}

// .cookie-btn:hover {
// 	background-color: #1b75ad;
// }

@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

// --------------------------------
//   media && animation

// @keyframes animation {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }

@import './_small';
@import './_medium';
@import './_large';
